.noteContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.noteContainer > div {
  margin: 20px;
}

.addNoteButton {
  margin: 30px auto;
  margin-left: 20px;
  background: #41a259;
}