body {
  margin: 0;
  padding: 0;
  font-family: proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.app {
  max-width: 1024px;
  margin: 0 auto;
}

.appHeader {
  background-color: #41a259;
  height: 100px;
  padding: 20px;
  color: white;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

a {
  color: white;
}
